
En mi Lapton

PORT=5000
JWT_SECRET=supersecret
DB_USER=root
DB_PASSWORD=Password123!
DB_NAME=db_sistemita
DB_HOST=127.0.0.1
NODE_ENV=development
JWT_EXPIRES_IN=1h

En mi Pc de escritorio
PORT=5000
JWT_SECRET=supersecret
DB_USER=root
DB_PASSWORD=sistemas
DB_NAME=sistemita_db
DB_HOST=127.0.0.1
NODE_ENV=development
JWT_EXPIRES_IN=1h